* {
    box-sizing: border-box;
  }

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
    position: fixed;
    top: 0;
    width: 100%;       
}

.option {
    float: left;
    border-right: 1px solid #bbb;
}

.option .link {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    background-color: #333;
}

.option .link:hover {
    background-color: rgb(66, 66, 66);
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'left middle middle middle middle right' 
    'footer footer footer footer footer footer';
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-top: 50px;
}

.gridLeft {
    grid-area: left;
    background-color: rgb(109, 109, 109);
}

.gridMiddle {
    grid-area: middle;
}

.gridRight {
    grid-area: right;
}

.gridFooter {
    grid-area: footer;
}

.sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
    top: 0;
}

.sideOption .link {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    background-color: #333;
}